@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
    --purple: #5280e2;
    --green: #15cdcb;
    --bg-dark: #212226;
    --light-grey: #e0dede;

    --menu-height: 75px;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    background: var(--bg-dark);
}

body, button, input, select, textarea {
    font-family: 'Poppins', sans-serif;
    color: white;
}

h1 {
    font-size: 44px;
}

h2 {
    font-size: 24px;
}

h1, h2 {
    margin: 0;
    font-weight: 400;
}

p {
    color: var(--light-grey);
}

button {
    background: var(--purple);
    border: 0;
    border-radius: 16px;
    padding: 8px 35px;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

header {
    /* background: red; */
    height: calc(100vh - 65px);
    display: flex;
    align-items: center;
}

header .container {
    width: 50%;
    height: fit-content;
    padding: 0 100px;
}

/* Para não aparecer o logo quando for desktop */
header .container img {
    display: none;
}

header .container h1 {
    color: var(--green);
}

header .container button {
    margin-top: 40px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: var(--menu-height);
    background: var(--bg-dark);
    padding: 0 100px;
    position: sticky;
    top: 0;
}

nav img {
    height: 45px;
}

/* Melhora a resposividade retirando a margim do nav ul a, pois a margim
atrapalha querando muito facil */
nav ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
}


nav ul a {
    font-size: 24px;
    color: var(--green);
    text-decoration: none;
    /* margin: 0 35px; */
}

nav ul a svg {
    display: none;
}

section {
    height: 1500px;
    background: purple;
}

/* Responsividade */

/* TRansicaod e tablet para desktop */
@media (max-width: 1000px) {
    header .container {
        /*Quando diminuir a tela ele muda para ocupar toda a tela  */
        width: 100%; 
    }

    nav ul a {
        font-size: 18px;
    }

    nav {
        padding: 0 30px;
    }

}

/* tablet o que for tela abaixo de 767px */
@media (max-width: 767px) { 
   
    header .container img {
        display: inline;
        margin-bottom: 70px;
        height: 45px;
    }

    nav img {
        display: none;
    }

    nav ul {
        padding: 0;
    }
  
}

/* Celular o que for tela  abaixo de 480px */
@media (max-width: 480px) { 
    
    header .container {
        padding: 0 40px;
    }

    nav {
        padding: 0 15px;
    }

    nav ul a {
        font-size: 12px;
    }

    nav ul a svg {
        display: block;
        margin: 0 auto 10px;
    }



}